
/*Variables*/
:root {
	--main-text-color: #4d4d4d;
	--main-border-color: #990000;
	--main-background-color: #ffe6e6;
	--main-heading-color: #ff1a1a;
}

/*Body Tag Style*/
body {
	background-color: var(--main-background-color);
}

/*Container Style*/
#container {
	width: 50%;
	margin: auto;
}

/*Main Division Style*/
#header {
	margin:auto;
}
#body {
	margin:auto;
}
#footer {
	background-color: #ff1a1a;
	width: 60%;
	height: 50px;
	margin:auto;
	border-radius: 40%;
	border: 2px solid var(--main-border-color);
	transition: width 1s, height 1s;
	text-align: center;
	color: white;
}
#footer:hover {
	background-color: #cc0000;
	width: 60%;
	height: 200px;
	margin:auto;
	border-radius: 27%;
	border: 2px solid var(--main-border-color);
	text-align: center;
	color: white;
}

/*Other Division Style*/
#myName {
	text-align: center;
	font-size: 70px;
	font-family: Impact, serif;
	color: var(--main-text-color);
}
#myPicture {
	border: 4px solid var(--main-border-color);
	border-radius: 75%;
	display: block;
    margin: auto;
}
#description {
	
}
#summary {
	width: 80%;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color: var(--main-text-color);
}
#links {
	margin: auto;
	width: 380px;
	transition: width 1s;
 
}
#links:hover {
	width: 400px;
}
/*#links a {
	margin:auto;
}*/
.icons {
	height: 80px;
	width: 80px;
	padding-right: 12px;
	transition: width 1s, height 1s;
}
.icons:hover {
	height: 100px;
	width: 100px;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}
#credit-head {
	margin-top: 10px;
	color: var(--main-text-color);
}
.credits {
	margin-top: 0px;
	color: var(--main-text-color);
}