/*Variables*/
:root {
	--main-text-color: #4d4d4d;
	--main-border-color: #990000;
	--main-background-color: #ffe6e6;
	--main-heading-color: #ff1a1a;
	--secondary-heading-color: #ff8080;
	--button-backgroup-color: #d9d9d9;
	--button-hover-backgroup-color: #cccccc;
	--button-active-backgroup-color: #bfbfbf;
}

/*Body Tag Style*/
body {
	background-color: var(--main-background-color);
}

/*Container Style*/
#container {
	width: 1100px;
	margin: auto;
}

/*Header Style*/
#header {
	width: 1050;
	height: 150px;
	margin: auto;
}
#myName-container {
	width: 500px;
	height: 50px;
	float: left;
}
#myName {
	text-align: left;
	font-size: 50px;
	font-family: Impact, serif;
	color: var(--main-text-color);
}
#contact {
	width: 500;
	height: 100px;
	float: right;
}
#pdf-download-button {
	position: fixed;
	right: 20px;
    top: 20px;
}
#pdf-download-button a:link{
	color: var(--main-heading-color);
	font-family: Impact, serif;
	font-weight: bold;
	font-size: 20px;
	
	background-color: var(--button-backgroup-color);
	border: 2px solid var(--main-border-color);
	text-decoration: none;
	
}
#pdf-download-button a:hover{
	background-color: var(--button-hover-backgroup-color);
}
#pdf-download-button a:active{
	background-color: var(--button-active-backgroup-color);
}
.label{
	text-align: left;
	font-family: Impact, serif;
	color: var(--main-heading-color);
	font-weight: bold;
	font-size: 20px;	
	margin: 5px;
	margin-top: 10px;
}
.text {
	text-align: left;
	font-family: Impact, serif;
	color: var(--main-text-color);
	font-size: 18px;
	margin: 5px;
}


/*Body Style*/
#body {
	width: 1050;
	margin: auto;
}
.section {
	width: 1000px;
	margin-top: 35px;
}
.title {
	width: 1000px;
	margin-top: 15px;
	font-size: 24px;
	color: var(--main-heading-color);
	font-weight: bold;
}
.subtitle {
	width: 700px;
	margin-top: 15px;
	font-size: 20px;
	color: var(--main-text-color);
	font-weight: bold;
}
.time {
	width: 300px;
	height: 20px;
	font-size: 20px;
	color: var(--main-text-color);
	float: right;
	margin-top: -45px;
}
.description {
	width: 700px;
	font-size: 20px;
	color: var(--main-text-color);
	margin-top: -10px;
}
#summaryDescription {
	width: 1000px;
}